@use "src/assets/sass/variables";

.navigation {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);

  &__links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    &--link {
      position: relative;
      display: flex;
      align-items: center;
      gap: .25rem;

      .label {
        display: none;
      }

      &:hover {

        & .label {
          display: block;
        }
      }
    }
  }
}
