@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes incrementSize {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes infiniteAnimation {
	0% {
		transform: translateX(0) scaleX(0);
	}
	40% {
		transform: translateX(0) scaleX(0.4);
	}
	100% {
		transform: translateX(100%) scaleX(0.5);
	}
}

@keyframes floaty {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(15px);
	}
}

@keyframes shadow {
	0% {
		transform: scale(1, 1);
	}
	100% {
		transform: scale(0.85, 0.85);
	}
}

@keyframes lds-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}
