/* ALL PROJECT VARIABLES */

$light-color: #FFFFFF;
$light-alt-color: #EEEDED;
$dark-color: #252525;
$dark-alt-color: #41414195;

/* FROST */
$primary-color: #8FBCBB;
$primary-alt-color: #88C0D0;
$secondary-color: #81A1C1;
$secondary-alt-color: #5E81AC;

/* Nord dark */
$primary-dark-color: #2E3440;
$primary-dark-alt-color: #3B4252;
$secondary-dark-color: #434C5E;
$secondary-dark-alt-color: #4C566A;

/* Nord light */
$primary-light-color: #D8DEE9;
$primary-light-alt-color: #E5E9F0;
$secondary-light-color: #ECEFF4;

/* END PALETTE */

/* FONT PROPERTIES */

$font-family: null !default;
$font-size: 16px !default;
$h1-font-size: 2 * $font-size !default;
$h2-font-size: 1.5 * $font-size !default;
$h3-font-size: 1.25 * $font-size !default;
$h4-font-size: 1 * $font-size !default;
$h5-font-size: 0.85 * $font-size !default;
$h6-font-size: 0.5 * $font-size !default;

/* ============================== */

$header-height: 50px;
